**/.ipynb_checkpoints
**/__pycache__
Modulo_28_Python_API/
Modulo_28_Python_API/credentials.json
Modulo_28_Python_API/token.json
Modulo_37_Orientacao_a_objetos/.idea
Modulo_37_Orientacao_a_objetos/.vscode